* @skunkworks-academy/course-development-team
/course.config.json @skunkworks-academy/course-development-team
/src/ @skunkworks-academy/course-development-team
/.github/workflows/ @skunkworks-academy/course-development-team
